html{
	min-height: 100%
}
body {
	font-family: 'Eczar', serif;
	letter-spacing: .1em;
	background-color: #D1DDE6;
	font-size:16px;
}
header{
	position:fixed;
 	top:0;
 	left:0;
	background: #133253;
	text-shadow: 2px 2px 2px #000;
	width: 100%;
	padding: 0;
}

footer{	
	position:fixed;
 	bottom:0;
 	left:0;
	width: 100%;
	background: #133253;
	text-align: center;
	clear: both;
}
footer p{
	margin:0;
	color: #fff;
}
 #logo{
 	text-align: center;
 }

#wrapper {
	text-align: center;
	margin: 100px auto 100px;
	max-width: 960px;
	padding: 0 5%;
}

.projects {
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 5px #111;
}

h1{
	margin: 0;
	color: white;
	padding: 5px 0 0 0;
	font-size: 1.5em;
}

h2 {
	color: white;
	padding: 0;
	font-size: 1.1em;
	margin-top: 0;
}
h3  {
 	margin-top: 0;
 	padding: 1em 0 0 0;
 	font-size: 1.2em;
 	color: #AA5E38;
 }

p{
	font-size: 1em;
 }

li {
 	text-align: center;
 	list-style: none;
 	background: #355475;
 	margin: 2.5%;
 	box-shadow: 2px 2px 5px #000;
 	float: left;
 	display: block;
 	width: 45%;
 }

ul {
 	padding: 0 0 100%;
 }
.social-icon {
	width: 20px;
	height: 20px;
	margin: 10px 5px 0;
}

 /* Clear Fix*/

.group:after {
 	content: "";
 	display: table;
 	clear: both;
 }


@media only screen and (max-width: 768px) {
	h1{
		font-size: 1em;
	}

	h2 {
		font-size: .8em;
	}
	#wrapper {
		margin: 100px auto 500px;
	}
}