html, body{
	height: 100%;
}

body {
	font-family: 'Eczar', serif;
	letter-spacing: .1em;
	background-color: #D1DDE6;
	font-size:16px;
}
header{
	background: #133253;
	text-shadow: 2px 2px 2px #000;
	width: 100%;
	float: left;
	margin: -20px 0 30px 0;
	padding: 20px 0 0 0;
}

footer{	
	height: 43px;
	width: 100%;
	background: #133253;
	text-align: center;
	margin: -39px 0 0;
	clear: both;
}
footer h2{
	margin: 0;
	padding: 10px 0 0;
}
 #logo{
 	text-align: center;
 }

#wrapper {
	text-align: center;
	margin: -20px auto;
	max-width: 960px;
	min-height: 100%;
	padding: 0 5%;
}

.projects {
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 5px #111;
}

h1{
	margin: 0;
	color: white;
	padding: 5px 0 0 0;
	font-size: 2em;
}

h2 {
	color: white;
	padding: 0 0 10px 0;
	font-size: 1.1em;
	margin-top: 0;
}
h3  {
 	margin-top: 0;
 	padding: 1em 0 0 0;
 	font-size: 1.2em;
 	color: #BD4800;
 }

p{
	font-size: .9em;
	
 }

li {
 	padding: 0 0 1em 0;
 	text-align: center;
 	list-style: none;
 	background: #355475;
 	margin: 2.5%;
 	box-shadow: 3px 3px 5px #000;
 	float: left;
 	display: block;
 	width: 45%;
 }

ul {
 	padding: 0;
 }
.social-icon {
	width: 20px;
	height: 20px;
	margin: 10px 5px 0;
}

 /* Clear Fix*/

.group:after {
 	content: "";
 	display: table;
 	clear: both;
 }