body, html {
    height: 100%;
    margin: 0;
}

canvas {
    width: 100%;
    background-color: black;
    z-index: 1;
}
h1 {
	text-align: center;
	color: red;
	z-index: 0;
}
footer{	
	position: absolute;
	left: 0;
	bottom: 0;
	height: 43px;
	width: 100%;
	background: #284F6D;
	text-align: center;
}
footer h2{
	margin: 7px;
	padding: 0;
}
a{
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px #111;
}